.closePrint {
    z-index: 100;
    position: fixed;
    right: 15px;
    top: 15px;
    color: white;
    background-color: red;
    border: 3px solid black;
    border-radius: 15px;
    width: 15px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    padding: 3px 5px 3px 5px;
}

.closePrint:hover {
    color: red;
    background-color: white;
}

.info, .print {
    float: right;
    margin-right: 5px;
    cursor: pointer;
}

@keyframes scaleBigger {
    to {transform: scale(1.3, 1.3)}
}

.info:hover,
.print:hover {
    animation-name: scaleBigger;
    animation-duration: 2s;
}

.infoModal {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.infoContent {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding: 9px;
    width: 450px;
    margin-top: 50px;
    background-color: white;
}

.closeInfoButton {
    float: right;
    margin-right: 5px;
}