<!DOCTYPE html>
<html>
    <head>
    <title>Aqu-Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="SHORTCUT ICON" href="aqu.ico">
    <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <aqu>Lataa...</aqu>
    </body>
    <script>
        // Fixes undefined module function in SystemJS bundle
        function module() {}
    </script>

    <!-- shims:js -->
    <!-- endinject -->

    <% if (ENV === 'dev') { %>
    <script>
        System.config(<%=
            JSON.stringify(SYSTEM_CONFIG, null, 2)
        %>)
    </script>
    <% } %>

    <!-- libs:js -->
    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->

    <% if (ENV === 'dev') { %>
    <script>
        System.import('<%= BOOTSTRAP_MODULE %>')
        .catch(function (e) {
            console.error(e,
            'Report this error at https://github.com/mgechev/angular2-seed/issues');
        });
    </script>
    <% } %>
</html>